<!DOCTYPE html>
<html>
  <head>
    <title>Catch the objects!</title>
    <meta name="description" content="The ScriptEd capstone project">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>
      Minions Catch (o_o)
    </h1>
    <div>
      <div id ="firstBox">
        <button id= "help"> 
        <img id ="questionMark" src ="http://viffy.com/start/images/question.png">
        </button>
        <div id ="secondBox">
          <div id ="thirdBox">
            <h2>
              score : 
            </h2>
            <div id ="fourthBox">
              <img class= "falling bomb" src="http://images.clipartpanda.com/bomb-clipart-bomb-clipart-1.jpg">
              <img id = "minion" src="https://s-media-cache-ak0.pinimg.com/originals/5b/65/29/5b6529e1bb325a6f144cb40ceeb40365.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/script.js"></script>
  </body>
</html>
